.details-form {
  padding: 5em 0 4em 2em;
}

.details-form-item-email {
  padding: 1em 0 0 0;
}

.details-form-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-form-item {
  display: grid;
  width: 48%;
}

.details-form-item input {
  padding: 0.5em;
  border: 1px solid cornflowerblue;
}

.details-form-item input:focus {
  outline: none;
  border: 3px solid rgb(152, 184, 241);
  background-color: rgb(192, 206, 231);
  font-weight: 600;
}

.details-form-item-add-email {
  display: flex;
  align-items: center;
  color: cornflowerblue;
  font-size: 1.25em;
  cursor: pointer;
}

.details-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 2em;
  position: absolute;
  bottom: 15%;
  width: 100%;
}
.detail-email {
  display: flex;
  align-items: center;
  margin: 0 0 0.5em 0;
  width: 35%;
  padding: 0.45em;
}
