.contacts {
  background-color: rgba(225, 242, 255, 1);
  height: 100vh;
  overflow-y: scroll;
}
.contact-header {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-item {
  padding: 1em;
  font-size: 24px;
  cursor: pointer;
}

.contact-item:hover {
  background-color: cornflowerblue;
  color: #fff;
}
